*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.big-container{
    width: 500px;
    margin: 50px auto;
    border:2px solid blue;
    text-align: center;
}
.contenitore {

    display: inline-block;
    padding:20px;
    text-align: center;
}

.dado{

    height:40px;
    width:40px;
    color:white;
    text-align: center;
    font-size: 20px;
}
#utente {
 background-color:green;


}

#pc{
    background-color:red;
}

#risultato{

    width: 100%;
    font-size: 30px;
    color: blue;
    text-align: center;
}
